src/core/__pycache__/*
src/core/__pycache__/*.pyc
src/core/__pycache__/*.*.pyc
src/core/__pycache__/model.*.pyc
src/core/__pycache__/fgen.*.pyc
src/__pycache__/*.pyc
src/gui/__pycache__/*.pyc
src/img/__pycache__/*.pyc
src/lib/__pycache__/__init__.*.pyc
src/lib/__pycache__/log.*.pyc
src/lib/__pycache__/modelobject.*.pyc
src/lib/__pycache__/persistentobject.*.pyc
src/lib/__pycache__/pubsub.*.pyc
src/lib/__pycache__/util.*.pyc
src/resource/*.jpg
savedprojects/*
photolibrary/*
src/storage/*
src/lib/ext/__pycache__/__init__.*.pyc
src/lib/ext/__pycache__/colored.*.pyc
src/app_base.py
src/geni18n.py
src/app_const.py
src/locale/imgui.pot
src/lib/__pycache__/imgbox.*.pyc
