src/__pycache__/
src/core/__pycache__/
src/core/model/__pycache__/
src/gui/__pycache__/
src/lib/__pycache__/
src/lib/i18n/__pycache__/
src/lib/wxdyn/__pycache__/
src/lib/wxdyn/log/__pycache__/
resource/*.jpg
savedprojects/
photolibrary/
storage/
src/app_base.py
src/geni18n.py
src/app_const.py
src/locale/imgui.pot
src/test/treectrl_test.py
animated.gif
