src/__pycache__/*.pyc
src/core/__pycache__/*.pyc
src/core/__pycache__/*.*.pyc
src/gui/__pycache__/*.pyc
src/gui/__pycache__/*.*.pyc
src/lib/__pycache__/*.pyc
src/lib/__pycache__/*.*.pyc
src/lib/ext/__pycache__/*.pyc
src/lib/ext/__pycache__/*.*.pyc
src/resource/*.jpg
storage/*

