src/base/__pycache__/*.pyc
src/__pycache__/*.pyc
src/gui/__pycache__/*.pyc
src/gui/__pycache__/*.*.pyc
src/img/__pycache__/*.pyc
src/img/__pycache__/*.*.pyc
src/lib/__pycache__/*.pyc
src/lib/__pycache__/*.*.pyc
src/resource/*.jpg
savedprojects/*

